





@charset "UTF-8";
                  * {
                    margin: 0%;

                    padding: 0%;
                  }
img {
    display: block;
    max-width: 30%;
    margin: auto;
  }







































