@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: 'android';
    src: url('/font/Journalistic.ttf') format('truetype');
}
body{
    font-family:  'android';
    background:rgb(203, 200, 200);
    color:rgb(24, 23, 23);
}
header> h1, header > h3{text-align: center;}
nav > details{
    position: fixed;
    top: 20px;
    left:40px;
    
}
nav > details > li{ left: -50px; position: relative;}
header > img{margin: auto;
position: relative ;
}
main{
    padding: 15px;
}

summary::marker{ 
content: url('../imagens/menu2.png');
;}
img{
    display:block;
    max-width:30%;
    margin: auto;
}
#social{   text-align: center;}
 #social > a{
    padding-left: 30px;
    text-decoration:none;
    color: black;
    font-size: 18px;
    text-align: center;
 }  
 #social > a:hover{
    text-decoration:underline;
}
article{
 columns: 3;
    }
  article > aside{

   padding: 20px;
  

    }

    footer{
        text-align: center;
    }

